
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Press Start 2P', monospace;
  overflow: hidden;
  position: relative;
  color: #fff;
}

#background-image {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: -2;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(0px);
  transition: filter 0.3s;
}

#background-overlay {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 1);
}

#app-wrapper {
  transform-origin: top left;
  width: 100%;
  height: 100%;
}

body.kraken #app-wrapper {
  position: absolute;
  top: 0;
  left: 0;
}

#app-content {
  position: relative;
  width: 100%;
  height: 100%;
}

#date {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 40px;
  text-align: center;
}

.divider {
  width: 70%;
  height: 2px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.3); /* 初期透明色 */
}


.second-bar {
  height: 100%;
  width: 0%;
  background-color: #fff;
  transition: width 0.3s linear;
}


#clock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  font-size: 120px;
  line-height: 1;
}

.colon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  transition: opacity 0.3s;
}

.dot {
  width: 12px;
  height: 12px;
  background-color: #fff;
  margin: 12px 0;
}

.lowercase #date,
.lowercase #clock,
.lowercase .label {
  text-transform: lowercase;
}

.status-block {
  position: absolute;
  top: 68%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 32px;
  text-align: center;
}

  .text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  }

  .shadow-dot {
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
  }

  .shadow-divider {
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
  }

.status-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.temp {
  font-size: 34px;
}

.label {
  font-size: 16px;
  margin-top: 6px;
  letter-spacing: 1px;
}

#config-ui {
  background-color: #000;
  color: #fff !important;
  font-family: sans-serif !important;
  font-weight: normal !important;
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: left;
  padding: 10px;
  max-width: 320px;
}